* {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
}

body {
    font-size: 16px;
}

.maindiv {
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

.heading {
    text-decoration: none;
    color: inherit;
    transition: 150ms color
}

.heading:hover {
    color:  hsl(200, 90%, 30%)
}

h2 {
    font-size: 16px;
    font-weight: lighter;
}

.type-selection {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
}

.type-selection li {
    flex-grow: 1;
    text-align: center;
    border: 1px solid hsl(200, 20%, 90%);
    border-right-width: 0;
}

.type-selection li:last-child {
    border-right-width: 1px
}

.type-selection input {
    display: none
}

.type-selection label {
    padding: 10px 20px;
    display: block;
    cursor: pointer;
}

.type-selection li input:checked+label {
    background-color: hsl(200, 20%, 96%);
    font-weight: bold;
}

.fields {
    display: flex;
    flex-flow: row;
    margin-top: 10px;
}

.field {
    flex-grow: 1;
    display: flex;
    flex-flow: column
}

.field:last-child {
    margin-left: 10px;
}

.field label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn {
    background-color: hsl(200, 20%, 96%);
    border: 1px solid hsl(200, 20%, 90%);
    padding: 8px 16px;
    font-size: inherit;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 150ms;
}

.btn:hover {
    background-color: hsl(200, 20%, 90%);
}

.tweets {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.tweet {
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 40em;
    background-color: hsl(200, 20%, 96%);
    border: 1px solid hsl(200, 20%, 90%);
}

.tweet__content {
    font-size: 18px;
    white-space: pre-wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.tweet__sources {
    font-size: 14px;
    color: dimgray;
    text-align: right;
}

.tweet__sources a {
    color: inherit;
    font-weight: bold;
    transition: color 150ms;
}

.tweet__sources a:hover {
    color: hsl(200, 40%, 50%);
}


.tweet__gallery {
	display: flex;
	flex-wrap: wrap;
}

.tweet__gallery__item {
    position: relative;
    flex-basis: calc(33.333% - 1em);
    box-sizing: border-box;
    margin: .5em;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.tweet__gallery__item::before {
    content: '';
    display: block;
    padding-top: 100%;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 150ms ease-out;
}

img:hover {
	transform: scale(1.05);
}

video {
    margin: 0 auto
}
